Read the data

In [1]:
import pandas as pd  
import re
import numpy as np

In [2]:
df = pd.read_excel('NZ_Admin_JOBS.xlsx',header=None,skiprows=1)

In [3]:
df.head()

,0,1,2,3,4,5
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

The column are job position, job link, company name, company location, publish date, job classificat/ salary

In [4]:
df.isnull().sum()

0     0
1     0
2    22
3     0
4     0
5     0
dtype: int64

In [5]:
df.columns = ['Job_Position', 'Job_Link', 'Company_Name', 'Company_Location', 'Publish_Date', 'Classification']

In [6]:
df.head()

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...

In [7]:
df['Company_Location'] = df['Company_Location'].str.split(',',n=1,expand=True)[0]

In [8]:
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...
...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,"27d ago,at",classification: Administration & Office Suppor...
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,"27d ago,at",Competitive hourly rate
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"20d ago,at",Competitive hourly rates $$
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"28d ago,at",Competitive hourly rates $$
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,"26d ago,at",classification: Administration & Office Suppor...

In [9]:
df[['Location','Area']] = df['Company_Location'].str.split('area',n=1,expand=True)

In [10]:
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,location: Bay of PlentyBay of Plenty,: TaurangaTauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,location: Bay of PlentyBay of Plenty,: TaurangaTauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,location: AucklandAuckland,None
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,location: SouthlandSouthland,: InvercargillInvercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,location: CanterburyCanterbury,: ChristchurchChristchurch
...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,"27d ago,at",classification: Administration & Office Suppor...,location: AucklandAuckland,: Auckland CentralAuckland Central
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,"27d ago,at",Competitive hourly rate,location: WellingtonWellington,: Wellington CentralWellington Central
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"20d ago,at",Competitive hourly rates $$,location: WaikatoWaikato,: HamiltonHamilton
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"28d ago,at",Competitive hourly rates $$,location: WaikatoWaikato,: HamiltonHamilton
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,"26d ago,at",classification: Administration & Office Suppor...,location: WellingtonWellington,None

In [11]:
df[['Location','Area']].isnull().sum()

Location      0
Area        541
dtype: int64

In [12]:
df['Location'] = df['Location'].str.split('location:',n=1,expand=True)[1]

In [13]:
df['Location']

0        Bay of PlentyBay of Plenty
1        Bay of PlentyBay of Plenty
2                  AucklandAuckland
3                SouthlandSouthland
4              CanterburyCanterbury
                   ...
2703               AucklandAuckland
2704           WellingtonWellington
2705                 WaikatoWaikato
2706                 WaikatoWaikato
2707           WellingtonWellington
Name: Location, Length: 2708, dtype: object

In [14]:
df['Area'] = df['Area'].str.split(':', n=1, expand=True)[1].str.strip()

In [15]:
df['Area']

0                           TaurangaTauranga
1                           TaurangaTauranga
2                                       None
3                   InvercargillInvercargill
4                   ChristchurchChristchurch
                        ...
2703        Auckland CentralAuckland Central
2704    Wellington CentralWellington Central
2705                        HamiltonHamilton
2706                        HamiltonHamilton
2707                                    None
Name: Area, Length: 2708, dtype: object

In [16]:
def remove_repeated_patterns(text):
    if not text:
        return text
    trim = text.strip()
    index = (trim + trim).find(trim, 1)
    if index != -1:
        return trim[:index]
    else:
        return trim

In [17]:
df['Location'] = df['Location'].apply(lambda x: remove_repeated_patterns(x))
df['Area'] = df['Area'].apply(lambda x: remove_repeated_patterns(x) if pd.notna(x) else 'unknown')

In [18]:
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,Auckland,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,Southland,Invercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Canterbury,Christchurch
...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,"27d ago,at",classification: Administration & Office Suppor...,Auckland,Auckland Central
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,"27d ago,at",Competitive hourly rate,Wellington,Wellington Central
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"20d ago,at",Competitive hourly rates $$,Waikato,Hamilton
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"28d ago,at",Competitive hourly rates $$,Waikato,Hamilton
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,"26d ago,at",classification: Administration & Office Suppor...,Wellington,unknown

In [19]:
df[df['Company_Name'].isnull()]

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Canterbury,Christchurch
19,Administrator,https://www.seek.co.nz/job/50604829?type=stand...,NaN,location: ManawatuManawatuarea: Rest of Manawa...,"7d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Manawatu,Rest of Manawatu
60,Administrator,https://www.seek.co.nz/job/50582301?type=stand...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"11d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
64,ADMINISTRATION SPECIALIST - CONSTRUCTION,https://www.seek.co.nz/job/50638765?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"5h ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Rodney & North Shore
67,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,NaN,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
71,Administrator,https://www.seek.co.nz/job/50607763?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"6d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Rodney & North Shore
95,Export Admin Support,https://www.seek.co.nz/job/50583111?type=stand...,NaN,location: Hawkes BayHawkes Bayarea: HastingsHa...,"11d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Hawkes Bay,Hastings
135,Executive Assistant,https://www.seek.co.nz/job/50613522?type=stand...,NaN,location: AucklandAucklandarea: Manukau & East...,"5d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Manukau & East Auckland
187,PERSONAL ASSISTANT - PART TIME,https://www.seek.co.nz/job/50588220?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"10d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Auckland Central
215,Time Target Rostering Administrator,https://www.seek.co.nz/job/50572487?type=stand...,NaN,location: WaikatoWaikatoarea: Rest of WaikatoR...,"12d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Waikato,Rest of Waikato
297,Operations Coordinator - South Island,https://www.seek.co.nz/job/50597654?type=stand...,NaN,location: CanterburyCanterburyarea: Christchur...,"7d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Canterbury,Christchurch
318,Customer Service /Sales/Admin,https://www.seek.co.nz/job/50557862?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"14d ago,at,Private Advertiser","$40,000 - $49,999",Auckland,Rodney & North Shore
385,Client Liaison,https://www.seek.co.nz/job/50580821?type=stand...,NaN,location: TaranakiTaranakiarea: New PlymouthNe...,"11d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Taranaki,New Plymouth
412,Executive Business Coordinator Cadetship - Gra...,https://www.seek.co.nz/job/50621110?type=stand...,NaN,location: AucklandAucklandarea: Manukau & East...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Manukau & East Auckland
437,Receptionist / Office Assistant,https://www.seek.co.nz/job/50508458?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"24d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Auckland Central
446,Receptionist,https://www.seek.co.nz/job/50516951?type=stand...,NaN,location: WellingtonWellingtonarea: Hutt Valle...,"22d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Wellington,Hutt Valley
470,Personal Assistant / Accounts Administrator,https://www.seek.co.nz/job/50564784?type=stand...,NaN,location: Bay of PlentyBay of Plentyarea: Roto...,"13d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Rotorua
510,Customer Service,https://www.seek.co.nz/job/50532433?type=stand...,NaN,location: AucklandAucklandarea: Rodney & North...,"19d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Rodney & North Shore
560,Client Side Office Manager,https://www.seek.co.nz/job/50534335?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"19d ago,at,Private Advertiser",$40 - $45 per hour,Auckland,Auckland Central
623,Personal Assistant,https://www.seek.co.nz/job/50481163?type=stand...,NaN,location: AucklandAucklandarea: Manukau & East...,"28d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Auckland,Manukau & East Auckland
656,Card Fulfillment Officer,https://www.seek.co.nz/job/50513472?type=stand...,NaN,location: AucklandAucklandarea: Auckland Centr...,"24d ago,at,Private Advertiser","$45,000 - $54,999",Auckland,Auckland Central

In [20]:
df[df['Company_Name'].isna()][['Company_Name','Publish_Date']]

    Company_Name                    Publish_Date
0            NaN  Featured,at,Private Advertiser
4            NaN    4d ago,at,Private Advertiser
19           NaN    7d ago,at,Private Advertiser
60           NaN   11d ago,at,Private Advertiser
64           NaN    5h ago,at,Private Advertiser
67           NaN  Featured,at,Private Advertiser
71           NaN    6d ago,at,Private Advertiser
95           NaN   11d ago,at,Private Advertiser
135          NaN    5d ago,at,Private Advertiser
187          NaN   10d ago,at,Private Advertiser
215          NaN   12d ago,at,Private Advertiser
297          NaN    7d ago,at,Private Advertiser
318          NaN   14d ago,at,Private Advertiser
385          NaN   11d ago,at,Private Advertiser
412          NaN    4d ago,at,Private Advertiser
437          NaN   24d ago,at,Private Advertiser
446          NaN   22d ago,at,Private Advertiser
470          NaN   13d ago,at,Private Advertiser
510          NaN   19d ago,at,Private Advertiser
560          NaN   19d ago,at,Private Advertiser
623          NaN   28d ago,at,Private Advertiser
656          NaN   24d ago,at,Private Advertiser

In [21]:
df[df['Company_Name'].isna()][['Publish_Date']]

                       Publish_Date
0    Featured,at,Private Advertiser
4      4d ago,at,Private Advertiser
19     7d ago,at,Private Advertiser
60    11d ago,at,Private Advertiser
64     5h ago,at,Private Advertiser
67   Featured,at,Private Advertiser
71     6d ago,at,Private Advertiser
95    11d ago,at,Private Advertiser
135    5d ago,at,Private Advertiser
187   10d ago,at,Private Advertiser
215   12d ago,at,Private Advertiser
297    7d ago,at,Private Advertiser
318   14d ago,at,Private Advertiser
385   11d ago,at,Private Advertiser
412    4d ago,at,Private Advertiser
437   24d ago,at,Private Advertiser
446   22d ago,at,Private Advertiser
470   13d ago,at,Private Advertiser
510   19d ago,at,Private Advertiser
560   19d ago,at,Private Advertiser
623   28d ago,at,Private Advertiser
656   24d ago,at,Private Advertiser

In [22]:
df.loc[df['Company_Name'].isna(),'Publish_Date'].str.split(',',n=3,expand=True)[2]

0      Private Advertiser
4      Private Advertiser
19     Private Advertiser
60     Private Advertiser
64     Private Advertiser
67     Private Advertiser
71     Private Advertiser
95     Private Advertiser
135    Private Advertiser
187    Private Advertiser
215    Private Advertiser
297    Private Advertiser
318    Private Advertiser
385    Private Advertiser
412    Private Advertiser
437    Private Advertiser
446    Private Advertiser
470    Private Advertiser
510    Private Advertiser
560    Private Advertiser
623    Private Advertiser
656    Private Advertiser
Name: 2, dtype: object

In [23]:
df.loc[df['Company_Name'].isna(),'Company_Name']=df.loc[df['Company_Name'].isna(),'Publish_Date'].str.split(',',n=3,expand=True)[2]

In [24]:
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at,Private Advertiser",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,"Featured,at",classification: Administration & Office Suppor...,Bay of Plenty,Tauranga
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,"4d ago,at",classification: Administration & Office Suppor...,Auckland,unknown
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,"1h ago,at",classification: Administration & Office Suppor...,Southland,Invercargill
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,"4d ago,at,Private Advertiser",classification: Administration & Office Suppor...,Canterbury,Christchurch
...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,"27d ago,at",classification: Administration & Office Suppor...,Auckland,Auckland Central
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,"27d ago,at",Competitive hourly rate,Wellington,Wellington Central
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"20d ago,at",Competitive hourly rates $$,Waikato,Hamilton
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,"28d ago,at",Competitive hourly rates $$,Waikato,Hamilton
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,"26d ago,at",classification: Administration & Office Suppor...,Wellington,unknown

In [25]:
df[df['Publish_Date']=='Featured'][['Job_Link','Publish_Date']]

Empty DataFrame
Columns: [Job_Link, Publish_Date]
Index: []

In [26]:
df['Publish_Date'] = df['Publish_Date'].str.split(',',n=1,expand=True)[0]

In [27]:
df['Promotion']=df['Publish_Date']=='Featured'

In [28]:
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area,Promotion
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,Featured,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,Featured,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,4d ago,classification: Administration & Office Suppor...,Auckland,unknown,False
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,1h ago,classification: Administration & Office Suppor...,Southland,Invercargill,False
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,4d ago,classification: Administration & Office Suppor...,Canterbury,Christchurch,False
...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,27d ago,classification: Administration & Office Suppor...,Auckland,Auckland Central,False
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,27d ago,Competitive hourly rate,Wellington,Wellington Central,False
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,20d ago,Competitive hourly rates $$,Waikato,Hamilton,False
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,28d ago,Competitive hourly rates $$,Waikato,Hamilton,False
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,26d ago,classification: Administration & Office Suppor...,Wellington,unknown,False

In [29]:
df['Publish_Date'] = df['Publish_Date'].str.extract('(\d+[a-z])')

In [30]:
df[['Publish_Date']].isnull().sum()

Publish_Date    20
dtype: int64

In [31]:
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area,Promotion
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,NaN,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,NaN,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,4d,classification: Administration & Office Suppor...,Auckland,unknown,False
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,1h,classification: Administration & Office Suppor...,Southland,Invercargill,False
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,4d,classification: Administration & Office Suppor...,Canterbury,Christchurch,False
...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,27d,classification: Administration & Office Suppor...,Auckland,Auckland Central,False
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,27d,Competitive hourly rate,Wellington,Wellington Central,False
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,20d,Competitive hourly rates $$,Waikato,Hamilton,False
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,28d,Competitive hourly rates $$,Waikato,Hamilton,False
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,26d,classification: Administration & Office Suppor...,Wellington,unknown,False

In [32]:
def parse_publish_date(info):
    if pd.isnull(info):
        return 'unknown'
    unit = info[-1]
    if unit == 'd':
        return int(info[:-1])
    elif unit == 'm':
        return int(info[:-1])*30
    else:
        return 0

In [33]:
df['Publish_Date'] = df['Publish_Date'].apply(lambda x: parse_publish_date(x))
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area,Promotion
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,unknown,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,unknown,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,4,classification: Administration & Office Suppor...,Auckland,unknown,False
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,0,classification: Administration & Office Suppor...,Southland,Invercargill,False
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,4,classification: Administration & Office Suppor...,Canterbury,Christchurch,False
...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,27,classification: Administration & Office Suppor...,Auckland,Auckland Central,False
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,27,Competitive hourly rate,Wellington,Wellington Central,False
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,20,Competitive hourly rates $$,Waikato,Hamilton,False
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,28,Competitive hourly rates $$,Waikato,Hamilton,False
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,26,classification: Administration & Office Suppor...,Wellington,unknown,False

In [34]:
df['Classification'].head(20)

0     classification: Administration & Office Suppor...
1     classification: Administration & Office Suppor...
2     classification: Administration & Office Suppor...
3     classification: Administration & Office Suppor...
4     classification: Administration & Office Suppor...
5     classification: Administration & Office Suppor...
6     classification: Administration & Office Suppor...
7     classification: Administration & Office Suppor...
8     classification: Administration & Office Suppor...
9     classification: Administration & Office Suppor...
10    classification: Administration & Office Suppor...
11    classification: Administration & Office Suppor...
12                                         $20 per hour
13    classification: Administration & Office Suppor...
14    classification: Administration & Office Suppor...
15    classification: Administration & Office Suppor...
16    classification: Administration & Office Suppor...
17                                $20 - $24.99 per hour
18    classification: Administration & Office Suppor...
19    classification: Administration & Office Suppor...
Name: Classification, dtype: object

In [35]:
df['Salary'] = df['Classification'].apply(lambda x: x if not x.startswith('classification:') else None)
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area,Promotion,Salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,unknown,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True,None
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,unknown,classification: Administration & Office Suppor...,Bay of Plenty,Tauranga,True,None
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,4,classification: Administration & Office Suppor...,Auckland,unknown,False,None
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,0,classification: Administration & Office Suppor...,Southland,Invercargill,False,None
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,4,classification: Administration & Office Suppor...,Canterbury,Christchurch,False,None
...,...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,27,classification: Administration & Office Suppor...,Auckland,Auckland Central,False,None
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,27,Competitive hourly rate,Wellington,Wellington Central,False,Competitive hourly rate
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,20,Competitive hourly rates $$,Waikato,Hamilton,False,Competitive hourly rates $$
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,28,Competitive hourly rates $$,Waikato,Hamilton,False,Competitive hourly rates $$
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,26,classification: Administration & Office Suppor...,Wellington,unknown,False,None

In [36]:
df[['Classification','Subclassification']]= df['Classification'].str.split('subClassification:',n=1,expand=True)

In [37]:
df['Classification'] = df['Classification'].str.split('classification:',n=1,expand=True)[1]

In [38]:
df[['Classification','Subclassification']].isnull().sum()

Classification       603
Subclassification    603
dtype: int64

In [39]:
df['Classification'] = df['Classification'].apply(lambda x: remove_repeated_patterns(x))
df['Subclassification'] = df['Subclassification'].apply(lambda x: remove_repeated_patterns(x) if pd.notna(x) else 'unknown')

In [40]:
df

,Job_Position,Job_Link,Company_Name,Company_Location,Publish_Date,Classification,Location,Area,Promotion,Salary,Subclassification
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,location: Bay of PlentyBay of Plentyarea: Taur...,unknown,Administration & Office Support,Bay of Plenty,Tauranga,True,None,Office Management
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,location: Bay of PlentyBay of Plentyarea: Taur...,unknown,Administration & Office Support,Bay of Plenty,Tauranga,True,None,Receptionists
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,location: AucklandAuckland,4,Administration & Office Support,Auckland,unknown,False,None,Other
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,location: SouthlandSouthlandarea: Invercargill...,0,Administration & Office Support,Southland,Invercargill,False,None,Administrative Assistants
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,location: CanterburyCanterburyarea: Christchur...,4,Administration & Office Support,Canterbury,Christchurch,False,None,Client & Sales Administration
...,...,...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,location: AucklandAucklandarea: Auckland Centr...,27,Administration & Office Support,Auckland,Auckland Central,False,None,Client & Sales Administration
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,location: WellingtonWellingtonarea: Wellington...,27,None,Wellington,Wellington Central,False,Competitive hourly rate,unknown
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,20,None,Waikato,Hamilton,False,Competitive hourly rates $$,unknown
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,location: WaikatoWaikatoarea: HamiltonHamilton,28,None,Waikato,Hamilton,False,Competitive hourly rates $$,unknown
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,location: WellingtonWellington,26,Administration & Office Support,Wellington,unknown,False,None,"PA, EA & Secretarial"

In [41]:
df.loc[df['Salary'].str.contains('\d',na=False)]['Salary'].head(50)

12                             $20 per hour
17                    $20 - $24.99 per hour
23                      $19 to $22 per hour
25                    $20 - $24.99 per hour
36                    $20 - $24.99 per hour
42                        $40,000 - $49,999
48                             $25 per hour
58              $60 000 - $70 000 per annum
59                          $20.00 per hour
66                    $20 - $24.99 per hour
75                        $55,000 - $69,999
77                         $20.00 per hour.
78                    $20 - $24.99 per hour
81                             $21 per hour
82                        $55,000 - $64,999
89          $50,000 - $55,000 plus benefits
97                        $45,000 - $49,999
103    $55,000 - $60,000 per annum pro rata
112                   $20 - $24.99 per hour
114                   $20 - $24.99 per hour
123                       $48,835 - $63,221
134                   $20 - $29.99 per hour
148                                 $24-$28
156                             Up to $27ph
165         $50,000 - $55,000 plus benefits
171                   $20 - $29.99 per hour
173                   $20 - $29.99 per hour
191                   $20 - $24.99 per hour
201                          8% holiday pay
212                       $55,000 - $64,999
214                       $40,000 - $49,999
219                       $45,000 - $59,999
231                  NZD25 - NZD28 per hour
247                   $20 - $24.99 per hour
264                       $45,000 - $49,999
277                            $22 per hour
278                      NZD75000 per annum
282                   $20 - $24.99 per hour
306                        $75k - $85k p.a.
311             $24 - $25 + 8% holiday pay!
318                       $40,000 - $49,999
319                      $50,000 per annum.
346                       $55,000 - $64,999
349                      $20 - $25 per hour
379                   $20 - $24.99 per hour
384         $30 - $38 p.h. + 8% Holiday Pay
393                             $45-$55,000
398                       $50,000 - $54,999
403       Up to $23 p.h. + + 8% Holiday Pay
405                       Up to $22.00 p.h.
Name: Salary, dtype: object

In [42]:
# Replace 'to' with '-'
df['Salary'] = df['Salary'].str.replace('to', '-', regex=True)

In [43]:
df.loc[df['Salary'].str.contains('\d',na=False)]['Salary'].tail(50)

393                                           $45-$55,000
398                                     $50,000 - $54,999
403                      Up - $23 p.h. + + 8% Holiday Pay
405                                      Up - $22.00 p.h.
430         NZD69,726-94,127p.a.+Retirement contributions
442                    $60k-$70k depending on experience!
444                                   $22.00 - $23.00 phr
455                                     $40,000 - $49,999
458                       $27 - $33 p.h. + 8% holiday pay
459                      $60K - $80K experience dependent
464                                    $19 - $22 per hour
473     $60 - $65k + Career Progression - QS / leadership
478                                 $35 - $39.99 per hour
482                                     $55,000 - $64,999
494        $20 - $24.99 per hour dependent on experience.
503                        Up - $27 p.h. + 8% Holiday Pay
517                                 $20 - $24.99 per hour
530                                NZD19 - NZD23 per hour
532                                            $60,000 pa
533                                     $40,000 - $49,999
536                       $21 - $25 p.h. + 8% Holiday Pay
546                                     $60,000 - $69,999
550                                      $21-$23 per hour
558                                     $50,000 - $59,999
560                                    $40 - $45 per hour
569                              $18.50 - $23.50 per hour
575                                                 $25.5
578                        Up - $35 p.h. + 8% Holiday Pay
579                       $21 - $22 p.h. + 8% Holiday Pay
582                                NZD25 - NZD30 per hour
590                                 $25 - $29.99 per hour
612                                     $50,000 - $69,999
625                                     $50,000 - $59,999
629                                 $25 - $29.99 per hour
632                                     $50,000 - $64,999
633                                    $20 - $40 per hour
641                                     $48,000 - $55,000
644                     $50k - $65k p.a. + plus kiwisaver
650                                        $70-$80k+Super
653                                    $20 - $30 per hour
656                                     $45,000 - $54,999
660     $55,000 - $65,000 depending on relevant experi...
663                                     $70-75k per annum
679             $45,000 - $55,000 depending on experience
682                      $24 - $28 p.h.  + 8% Holiday Pay
683                     $35 - $40 p.h. + + 8% Holiday Pay
695                                             Circa 50k
1936                     $24 - $28 p.h.  + 8% Holiday Pay
1937                    $35 - $40 p.h. + + 8% Holiday Pay
1949                                            Circa 50k
Name: Salary, dtype: object

In [44]:
df[['Lower_Salary','Upper_Salary']] = df['Salary'].str.split( '-', n=1,expand=True).fillna('unknown')

In [45]:
df[df['Salary'].str.contains('\d',na=False)][['Salary','Lower_Salary','Upper_Salary']]

,Salary,Lower_Salary,Upper_Salary
12,$20 per hour,$20 per hour,unknown
17,$20 - $24.99 per hour,$20,$24.99 per hour
23,$19 - $22 per hour,$19,$22 per hour
25,$20 - $24.99 per hour,$20,$24.99 per hour
36,$20 - $24.99 per hour,$20,$24.99 per hour
...,...,...,...
683,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + 8% Holiday Pay
695,Circa 50k,Circa 50k,unknown
1936,$24 - $28 p.h. + 8% Holiday Pay,$24,$28 p.h. + 8% Holiday Pay
1937,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + 8% Holiday Pay
1949,Circa 50k,Circa 50k,unknown

In [46]:
df[df['Salary'].str.contains('\d',na=False)][['Salary','Lower_Salary','Upper_Salary']].head(50)

,Salary,Lower_Salary,Upper_Salary
12,$20 per hour,$20 per hour,unknown
17,$20 - $24.99 per hour,$20,$24.99 per hour
23,$19 - $22 per hour,$19,$22 per hour
25,$20 - $24.99 per hour,$20,$24.99 per hour
36,$20 - $24.99 per hour,$20,$24.99 per hour
42,"$40,000 - $49,999","$40,000","$49,999"
48,$25 per hour,$25 per hour,unknown
58,$60 000 - $70 000 per annum,$60 000,$70 000 per annum
59,$20.00 per hour,$20.00 per hour,unknown
66,$20 - $24.99 per hour,$20,$24.99 per hour
75,"$55,000 - $69,999","$55,000","$69,999"
77,$20.00 per hour.,$20.00 per hour.,unknown
78,$20 - $24.99 per hour,$20,$24.99 per hour
81,$21 per hour,$21 per hour,unknown
82,"$55,000 - $64,999","$55,000","$64,999"
89,"$50,000 - $55,000 plus benefits","$50,000","$55,000 plus benefits"
97,"$45,000 - $49,999","$45,000","$49,999"
103,"$55,000 - $60,000 per annum pro rata","$55,000","$60,000 per annum pro rata"
112,$20 - $24.99 per hour,$20,$24.99 per hour
114,$20 - $24.99 per hour,$20,$24.99 per hour
123,"$48,835 - $63,221","$48,835","$63,221"
134,$20 - $29.99 per hour,$20,$29.99 per hour
148,$24-$28,$24,$28
156,Up - $27ph,Up,$27ph
165,"$50,000 - $55,000 plus benefits","$50,000","$55,000 plus benefits"
171,$20 - $29.99 per hour,$20,$29.99 per hour
173,$20 - $29.99 per hour,$20,$29.99 per hour
191,$20 - $24.99 per hour,$20,$24.99 per hour
201,8% holiday pay,8% holiday pay,unknown
212,"$55,000 - $64,999","$55,000","$64,999"
214,"$40,000 - $49,999","$40,000","$49,999"
219,"$45,000 - $59,999","$45,000","$59,999"
231,NZD25 - NZD28 per hour,NZD25,NZD28 per hour
247,$20 - $24.99 per hour,$20,$24.99 per hour
264,"$45,000 - $49,999","$45,000","$49,999"
277,$22 per hour,$22 per hour,unknown
278,NZD75000 per annum,NZD75000 per annum,unknown
282,$20 - $24.99 per hour,$20,$24.99 per hour
306,$75k - $85k p.a.,$75k,$85k p.a.
311,$24 - $25 + 8% holiday pay!,$24,$25 + 8% holiday pay!
318,"$40,000 - $49,999","$40,000","$49,999"
319,"$50,000 per annum.","$50,000 per annum.",unknown
346,"$55,000 - $64,999","$55,000","$64,999"
349,$20 - $25 per hour,$20,$25 per hour
379,$20 - $24.99 per hour,$20,$24.99 per hour
384,$30 - $38 p.h. + 8% Holiday Pay,$30,$38 p.h. + 8% Holiday Pay
393,"$45-$55,000",$45,"$55,000"
398,"$50,000 - $54,999","$50,000","$54,999"
403,Up - $23 p.h. + + 8% Holiday Pay,Up,$23 p.h. + + 8% Holiday Pay
405,Up - $22.00 p.h.,Up,$22.00 p.h.

In [47]:
df[df['Salary'].str.contains('\d',na=False)][['Salary','Lower_Salary','Upper_Salary']].tail(50)

,Salary,Lower_Salary,Upper_Salary
393,"$45-$55,000",$45,"$55,000"
398,"$50,000 - $54,999","$50,000","$54,999"
403,Up - $23 p.h. + + 8% Holiday Pay,Up,$23 p.h. + + 8% Holiday Pay
405,Up - $22.00 p.h.,Up,$22.00 p.h.
430,"NZD69,726-94,127p.a.+Retirement contributions","NZD69,726","94,127p.a.+Retirement contributions"
442,$60k-$70k depending on experience!,$60k,$70k depending on experience!
444,$22.00 - $23.00 phr,$22.00,$23.00 phr
455,"$40,000 - $49,999","$40,000","$49,999"
458,$27 - $33 p.h. + 8% holiday pay,$27,$33 p.h. + 8% holiday pay
459,$60K - $80K experience dependent,$60K,$80K experience dependent
464,$19 - $22 per hour,$19,$22 per hour
473,$60 - $65k + Career Progression - QS / leadership,$60,$65k + Career Progression - QS / leadership
478,$35 - $39.99 per hour,$35,$39.99 per hour
482,"$55,000 - $64,999","$55,000","$64,999"
494,$20 - $24.99 per hour dependent on experience.,$20,$24.99 per hour dependent on experience.
503,Up - $27 p.h. + 8% Holiday Pay,Up,$27 p.h. + 8% Holiday Pay
517,$20 - $24.99 per hour,$20,$24.99 per hour
530,NZD19 - NZD23 per hour,NZD19,NZD23 per hour
532,"$60,000 pa","$60,000 pa",unknown
533,"$40,000 - $49,999","$40,000","$49,999"
536,$21 - $25 p.h. + 8% Holiday Pay,$21,$25 p.h. + 8% Holiday Pay
546,"$60,000 - $69,999","$60,000","$69,999"
550,$21-$23 per hour,$21,$23 per hour
558,"$50,000 - $59,999","$50,000","$59,999"
560,$40 - $45 per hour,$40,$45 per hour
569,$18.50 - $23.50 per hour,$18.50,$23.50 per hour
575,$25.5,$25.5,unknown
578,Up - $35 p.h. + 8% Holiday Pay,Up,$35 p.h. + 8% Holiday Pay
579,$21 - $22 p.h. + 8% Holiday Pay,$21,$22 p.h. + 8% Holiday Pay
582,NZD25 - NZD30 per hour,NZD25,NZD30 per hour
590,$25 - $29.99 per hour,$25,$29.99 per hour
612,"$50,000 - $69,999","$50,000","$69,999"
625,"$50,000 - $59,999","$50,000","$59,999"
629,$25 - $29.99 per hour,$25,$29.99 per hour
632,"$50,000 - $64,999","$50,000","$64,999"
633,$20 - $40 per hour,$20,$40 per hour
641,"$48,000 - $55,000","$48,000","$55,000"
644,$50k - $65k p.a. + plus kiwisaver,$50k,$65k p.a. + plus kiwisaver
650,$70-$80k+Super,$70,$80k+Super
653,$20 - $30 per hour,$20,$30 per hour
656,"$45,000 - $54,999","$45,000","$54,999"
660,"$55,000 - $65,000 depending on relevant experi...","$55,000","$65,000 depending on relevant experience"
663,$70-75k per annum,$70,75k per annum
679,"$45,000 - $55,000 depending on experience","$45,000","$55,000 depending on experience"
682,$24 - $28 p.h. + 8% Holiday Pay,$24,$28 p.h. + 8% Holiday Pay
683,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + 8% Holiday Pay
695,Circa 50k,Circa 50k,unknown
1936,$24 - $28 p.h. + 8% Holiday Pay,$24,$28 p.h. + 8% Holiday Pay
1937,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + 8% Holiday Pay
1949,Circa 50k,Circa 50k,unknown

In [48]:
df[df['Salary'].str.contains('8%',na=False)][['Salary','Lower_Salary','Upper_Salary']]

,Salary,Lower_Salary,Upper_Salary
201,8% holiday pay,8% holiday pay,unknown
311,$24 - $25 + 8% holiday pay!,$24,$25 + 8% holiday pay!
384,$30 - $38 p.h. + 8% Holiday Pay,$30,$38 p.h. + 8% Holiday Pay
403,Up - $23 p.h. + + 8% Holiday Pay,Up,$23 p.h. + + 8% Holiday Pay
458,$27 - $33 p.h. + 8% holiday pay,$27,$33 p.h. + 8% holiday pay
503,Up - $27 p.h. + 8% Holiday Pay,Up,$27 p.h. + 8% Holiday Pay
536,$21 - $25 p.h. + 8% Holiday Pay,$21,$25 p.h. + 8% Holiday Pay
578,Up - $35 p.h. + 8% Holiday Pay,Up,$35 p.h. + 8% Holiday Pay
579,$21 - $22 p.h. + 8% Holiday Pay,$21,$22 p.h. + 8% Holiday Pay
682,$24 - $28 p.h. + 8% Holiday Pay,$24,$28 p.h. + 8% Holiday Pay
683,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + 8% Holiday Pay
1936,$24 - $28 p.h. + 8% Holiday Pay,$24,$28 p.h. + 8% Holiday Pay
1937,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + 8% Holiday Pay

In [49]:
df['Lower_Salary'] = df['Lower_Salary'].str.replace('8%', '', regex=True)
df['Upper_Salary'] = df['Upper_Salary'].str.replace('8%', '', regex=True)

In [50]:
df[df['Salary'].str.contains('\d',na=False)][['Salary','Lower_Salary','Upper_Salary']].tail(50)

,Salary,Lower_Salary,Upper_Salary
393,"$45-$55,000",$45,"$55,000"
398,"$50,000 - $54,999","$50,000","$54,999"
403,Up - $23 p.h. + + 8% Holiday Pay,Up,$23 p.h. + + Holiday Pay
405,Up - $22.00 p.h.,Up,$22.00 p.h.
430,"NZD69,726-94,127p.a.+Retirement contributions","NZD69,726","94,127p.a.+Retirement contributions"
442,$60k-$70k depending on experience!,$60k,$70k depending on experience!
444,$22.00 - $23.00 phr,$22.00,$23.00 phr
455,"$40,000 - $49,999","$40,000","$49,999"
458,$27 - $33 p.h. + 8% holiday pay,$27,$33 p.h. + holiday pay
459,$60K - $80K experience dependent,$60K,$80K experience dependent
464,$19 - $22 per hour,$19,$22 per hour
473,$60 - $65k + Career Progression - QS / leadership,$60,$65k + Career Progression - QS / leadership
478,$35 - $39.99 per hour,$35,$39.99 per hour
482,"$55,000 - $64,999","$55,000","$64,999"
494,$20 - $24.99 per hour dependent on experience.,$20,$24.99 per hour dependent on experience.
503,Up - $27 p.h. + 8% Holiday Pay,Up,$27 p.h. + Holiday Pay
517,$20 - $24.99 per hour,$20,$24.99 per hour
530,NZD19 - NZD23 per hour,NZD19,NZD23 per hour
532,"$60,000 pa","$60,000 pa",unknown
533,"$40,000 - $49,999","$40,000","$49,999"
536,$21 - $25 p.h. + 8% Holiday Pay,$21,$25 p.h. + Holiday Pay
546,"$60,000 - $69,999","$60,000","$69,999"
550,$21-$23 per hour,$21,$23 per hour
558,"$50,000 - $59,999","$50,000","$59,999"
560,$40 - $45 per hour,$40,$45 per hour
569,$18.50 - $23.50 per hour,$18.50,$23.50 per hour
575,$25.5,$25.5,unknown
578,Up - $35 p.h. + 8% Holiday Pay,Up,$35 p.h. + Holiday Pay
579,$21 - $22 p.h. + 8% Holiday Pay,$21,$22 p.h. + Holiday Pay
582,NZD25 - NZD30 per hour,NZD25,NZD30 per hour
590,$25 - $29.99 per hour,$25,$29.99 per hour
612,"$50,000 - $69,999","$50,000","$69,999"
625,"$50,000 - $59,999","$50,000","$59,999"
629,$25 - $29.99 per hour,$25,$29.99 per hour
632,"$50,000 - $64,999","$50,000","$64,999"
633,$20 - $40 per hour,$20,$40 per hour
641,"$48,000 - $55,000","$48,000","$55,000"
644,$50k - $65k p.a. + plus kiwisaver,$50k,$65k p.a. + plus kiwisaver
650,$70-$80k+Super,$70,$80k+Super
653,$20 - $30 per hour,$20,$30 per hour
656,"$45,000 - $54,999","$45,000","$54,999"
660,"$55,000 - $65,000 depending on relevant experi...","$55,000","$65,000 depending on relevant experience"
663,$70-75k per annum,$70,75k per annum
679,"$45,000 - $55,000 depending on experience","$45,000","$55,000 depending on experience"
682,$24 - $28 p.h. + 8% Holiday Pay,$24,$28 p.h. + Holiday Pay
683,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + Holiday Pay
695,Circa 50k,Circa 50k,unknown
1936,$24 - $28 p.h. + 8% Holiday Pay,$24,$28 p.h. + Holiday Pay
1937,$35 - $40 p.h. + + 8% Holiday Pay,$35,$40 p.h. + + Holiday Pay
1949,Circa 50k,Circa 50k,unknown

In [51]:
df['Upper_Salary'].str.extract('(\d{1,3}(?:,\d{3})*(?:\.\d+)?k?K?)')

        0
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
...   ...
2703  NaN
2704  NaN
2705  NaN
2706  NaN
2707  NaN

[2708 rows x 1 columns]

In [52]:
df['Lower_Salary']=df['Lower_Salary'].str.extract('(\d{1,3}(?:,\d{3})*(?:\.\d+)?k?K?)',expand = True)

In [53]:
df['Upper_Salary']=df['Upper_Salary'].str.extract('(\d{1,3}(?:,\d{3})*(?:\.\d+)?k?K?)',expand = True)

In [54]:
df[df['Salary'].str.contains('\d',na=False)][['Lower_Salary','Upper_Salary']].tail(50)

     Lower_Salary Upper_Salary
393            45       55,000
398        50,000       54,999
403           NaN           23
405           NaN        22.00
430        69,726       94,127
442           60k          70k
444         22.00        23.00
455        40,000       49,999
458            27           33
459           60K          80K
464            19           22
473            60          65k
478            35        39.99
482        55,000       64,999
494            20        24.99
503           NaN           27
517            20        24.99
530            19           23
532        60,000          NaN
533        40,000       49,999
536            21           25
546        60,000       69,999
550            21           23
558        50,000       59,999
560            40           45
569         18.50        23.50
575          25.5          NaN
578           NaN           35
579            21           22
582            25           30
590            25        29.99
612        50,000       69,999
625        50,000       59,999
629            25        29.99
632        50,000       64,999
633            20           40
641        48,000       55,000
644           50k          65k
650            70          80k
653            20           30
656        45,000       54,999
660        55,000       65,000
663            70          75k
679        45,000       55,000
682            24           28
683            35           40
695           50k          NaN
1936           24           28
1937           35           40
1949          50k          NaN

In [55]:
df[df['Lower_Salary'].str.contains('(?i)k',na=False)|df['Upper_Salary'].str.contains('(?i)k',na=False)][['Lower_Salary','Upper_Salary']]

     Lower_Salary Upper_Salary
306           75k          85k
442           60k          70k
459           60K          80K
473            60          65k
644           50k          65k
650            70          80k
663            70          75k
695           50k          NaN
1949          50k          NaN

In [56]:
df['Lower_Salary'] = df['Lower_Salary'].str.replace('K', 'k', regex=True)
df['Upper_Salary'] = df['Upper_Salary'].str.replace('K', 'k', regex=True)

In [57]:
def add_k_to_lower(row):
    upper_salary = str(row['Upper_Salary'])
    lower_salary = str(row['Lower_Salary'])
    if 'k' in upper_salary and 'k' not in lower_salary:
        if lower_salary.isdigit():  # Check if Lower_Salary is a digit
            return lower_salary + 'k'
    return lower_salary

In [58]:
df['Lower_Salary'] = df.apply(add_k_to_lower, axis=1)

In [59]:
df[df['Lower_Salary'].str.contains('k',na=False)|df['Upper_Salary'].str.contains('k',na=False)][['Lower_Salary','Upper_Salary']]

     Lower_Salary Upper_Salary
306           75k          85k
442           60k          70k
459           60k          80k
473           60k          65k
644           50k          65k
650           70k          80k
663           70k          75k
695           50k          NaN
1949          50k          NaN

In [60]:
def convert_to_number(value):
    if pd.isna(value) or value == 'NaN':
        return np.nan
    value = str(value).replace(',', '')
    if 'k' in value:
        return float(value.replace('k', '')) * 1000
    try:
        numeric_value = float(value)
        # Convert hourly rate to annual salary if less than 50
        if numeric_value < 50:
            return numeric_value * 2080  # 2080 hours in a typical work year
        return numeric_value
    except ValueError:
        return np.nan

In [61]:
df['Lower_Salary'] = df['Lower_Salary'].apply(convert_to_number)
df['Upper_Salary'] = df['Upper_Salary'].apply(convert_to_number)

In [62]:
df[df['Salary'].str.contains('\d',na=False)][['Salary','Lower_Salary','Upper_Salary']].tail(50)

,Salary,Lower_Salary,Upper_Salary
393,"$45-$55,000",93600.0,55000.0
398,"$50,000 - $54,999",50000.0,54999.0
403,Up - $23 p.h. + + 8% Holiday Pay,NaN,47840.0
405,Up - $22.00 p.h.,NaN,45760.0
430,"NZD69,726-94,127p.a.+Retirement contributions",69726.0,94127.0
442,$60k-$70k depending on experience!,60000.0,70000.0
444,$22.00 - $23.00 phr,45760.0,47840.0
455,"$40,000 - $49,999",40000.0,49999.0
458,$27 - $33 p.h. + 8% holiday pay,56160.0,68640.0
459,$60K - $80K experience dependent,60000.0,80000.0
464,$19 - $22 per hour,39520.0,45760.0
473,$60 - $65k + Career Progression - QS / leadership,60000.0,65000.0
478,$35 - $39.99 per hour,72800.0,83179.2
482,"$55,000 - $64,999",55000.0,64999.0
494,$20 - $24.99 per hour dependent on experience.,41600.0,51979.2
503,Up - $27 p.h. + 8% Holiday Pay,NaN,56160.0
517,$20 - $24.99 per hour,41600.0,51979.2
530,NZD19 - NZD23 per hour,39520.0,47840.0
532,"$60,000 pa",60000.0,NaN
533,"$40,000 - $49,999",40000.0,49999.0
536,$21 - $25 p.h. + 8% Holiday Pay,43680.0,52000.0
546,"$60,000 - $69,999",60000.0,69999.0
550,$21-$23 per hour,43680.0,47840.0
558,"$50,000 - $59,999",50000.0,59999.0
560,$40 - $45 per hour,83200.0,93600.0
569,$18.50 - $23.50 per hour,38480.0,48880.0
575,$25.5,53040.0,NaN
578,Up - $35 p.h. + 8% Holiday Pay,NaN,72800.0
579,$21 - $22 p.h. + 8% Holiday Pay,43680.0,45760.0
582,NZD25 - NZD30 per hour,52000.0,62400.0
590,$25 - $29.99 per hour,52000.0,62379.2
612,"$50,000 - $69,999",50000.0,69999.0
625,"$50,000 - $59,999",50000.0,59999.0
629,$25 - $29.99 per hour,52000.0,62379.2
632,"$50,000 - $64,999",50000.0,64999.0
633,$20 - $40 per hour,41600.0,83200.0
641,"$48,000 - $55,000",48000.0,55000.0
644,$50k - $65k p.a. + plus kiwisaver,50000.0,65000.0
650,$70-$80k+Super,70000.0,80000.0
653,$20 - $30 per hour,41600.0,62400.0
656,"$45,000 - $54,999",45000.0,54999.0
660,"$55,000 - $65,000 depending on relevant experi...",55000.0,65000.0
663,$70-75k per annum,70000.0,75000.0
679,"$45,000 - $55,000 depending on experience",45000.0,55000.0
682,$24 - $28 p.h. + 8% Holiday Pay,49920.0,58240.0
683,$35 - $40 p.h. + + 8% Holiday Pay,72800.0,83200.0
695,Circa 50k,50000.0,NaN
1936,$24 - $28 p.h. + 8% Holiday Pay,49920.0,58240.0
1937,$35 - $40 p.h. + + 8% Holiday Pay,72800.0,83200.0
1949,Circa 50k,50000.0,NaN

In [63]:
df['Upper_Salary'] = df['Upper_Salary'].fillna(df['Lower_Salary'])

df['Lower_Salary'] = df['Lower_Salary'].fillna(df['Upper_Salary'])

In [64]:
df[df['Salary'].str.contains('\d',na=False)][['Salary','Lower_Salary','Upper_Salary']].tail(50)

,Salary,Lower_Salary,Upper_Salary
393,"$45-$55,000",93600.0,55000.0
398,"$50,000 - $54,999",50000.0,54999.0
403,Up - $23 p.h. + + 8% Holiday Pay,47840.0,47840.0
405,Up - $22.00 p.h.,45760.0,45760.0
430,"NZD69,726-94,127p.a.+Retirement contributions",69726.0,94127.0
442,$60k-$70k depending on experience!,60000.0,70000.0
444,$22.00 - $23.00 phr,45760.0,47840.0
455,"$40,000 - $49,999",40000.0,49999.0
458,$27 - $33 p.h. + 8% holiday pay,56160.0,68640.0
459,$60K - $80K experience dependent,60000.0,80000.0
464,$19 - $22 per hour,39520.0,45760.0
473,$60 - $65k + Career Progression - QS / leadership,60000.0,65000.0
478,$35 - $39.99 per hour,72800.0,83179.2
482,"$55,000 - $64,999",55000.0,64999.0
494,$20 - $24.99 per hour dependent on experience.,41600.0,51979.2
503,Up - $27 p.h. + 8% Holiday Pay,56160.0,56160.0
517,$20 - $24.99 per hour,41600.0,51979.2
530,NZD19 - NZD23 per hour,39520.0,47840.0
532,"$60,000 pa",60000.0,60000.0
533,"$40,000 - $49,999",40000.0,49999.0
536,$21 - $25 p.h. + 8% Holiday Pay,43680.0,52000.0
546,"$60,000 - $69,999",60000.0,69999.0
550,$21-$23 per hour,43680.0,47840.0
558,"$50,000 - $59,999",50000.0,59999.0
560,$40 - $45 per hour,83200.0,93600.0
569,$18.50 - $23.50 per hour,38480.0,48880.0
575,$25.5,53040.0,53040.0
578,Up - $35 p.h. + 8% Holiday Pay,72800.0,72800.0
579,$21 - $22 p.h. + 8% Holiday Pay,43680.0,45760.0
582,NZD25 - NZD30 per hour,52000.0,62400.0
590,$25 - $29.99 per hour,52000.0,62379.2
612,"$50,000 - $69,999",50000.0,69999.0
625,"$50,000 - $59,999",50000.0,59999.0
629,$25 - $29.99 per hour,52000.0,62379.2
632,"$50,000 - $64,999",50000.0,64999.0
633,$20 - $40 per hour,41600.0,83200.0
641,"$48,000 - $55,000",48000.0,55000.0
644,$50k - $65k p.a. + plus kiwisaver,50000.0,65000.0
650,$70-$80k+Super,70000.0,80000.0
653,$20 - $30 per hour,41600.0,62400.0
656,"$45,000 - $54,999",45000.0,54999.0
660,"$55,000 - $65,000 depending on relevant experi...",55000.0,65000.0
663,$70-75k per annum,70000.0,75000.0
679,"$45,000 - $55,000 depending on experience",45000.0,55000.0
682,$24 - $28 p.h. + 8% Holiday Pay,49920.0,58240.0
683,$35 - $40 p.h. + + 8% Holiday Pay,72800.0,83200.0
695,Circa 50k,50000.0,50000.0
1936,$24 - $28 p.h. + 8% Holiday Pay,49920.0,58240.0
1937,$35 - $40 p.h. + + 8% Holiday Pay,72800.0,83200.0
1949,Circa 50k,50000.0,50000.0

In [68]:
df = df.drop(columns=['Company_Location', 'Salary'])

In [69]:
df

,Job_Position,Job_Link,Company_Name,Publish_Date,Classification,Location,Area,Promotion,Subclassification,Lower_Salary,Upper_Salary
0,Administrator,https://www.seek.co.nz/job/50582301?type=promo...,Private Advertiser,unknown,Administration & Office Support,Bay of Plenty,Tauranga,True,Office Management,NaN,NaN
1,Receptionist,https://www.seek.co.nz/job/50620889?type=promo...,Avenues Orthodontics,unknown,Administration & Office Support,Bay of Plenty,Tauranga,True,Receptionists,NaN,NaN
2,Prosecutions Support Officer,https://www.seek.co.nz/job/50622169?type=stand...,New Zealand Police,4,Administration & Office Support,Auckland,unknown,False,Other,NaN,NaN
3,Early Childhood Centre Administrator,https://www.seek.co.nz/job/50639620?type=stand...,Kew Pacific Island Early Learning Centre,0,Administration & Office Support,Southland,Invercargill,False,Administrative Assistants,NaN,NaN
4,Business Support Administrator,https://www.seek.co.nz/job/50622432?type=stand...,Private Advertiser,4,Administration & Office Support,Canterbury,Christchurch,False,Client & Sales Administration,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2703,Key Account Manager,https://www.seek.co.nz/job/50490062?type=stand...,Hays Talent Solutions,27,Administration & Office Support,Auckland,Auckland Central,False,Client & Sales Administration,NaN,NaN
2704,Executive Assistant,https://www.seek.co.nz/job/50488000?type=stand...,one eighty recruitment,27,None,Wellington,Wellington Central,False,unknown,NaN,NaN
2705,Temporary Office Roles,https://www.seek.co.nz/job/50524865?type=stand...,Asset Recruitment Ltd,20,None,Waikato,Hamilton,False,unknown,NaN,NaN
2706,Temporary Office Roles,https://www.seek.co.nz/job/50477118?type=stand...,Asset Recruitment Ltd,28,None,Waikato,Hamilton,False,unknown,NaN,NaN
2707,Executive Assistant,https://www.seek.co.nz/job/50496571?type=stand...,Alpha Recruitment - NZ,26,Administration & Office Support,Wellington,unknown,False,"PA, EA & Secretarial",NaN,NaN